Repository stegasaur/tinysaur: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,vue}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"]
}

Fix missing eslint-plugin-vue dependency
  package.json
Due: prettier --write

Fix CI/test failure by adding vue-jest dependency
  package.json
Due: prettier --write

some clean up
  .github/workflows/ci.yml
  .gitignore
  .tool-versions
  Brewfile
  db/schema.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Migrate .eslintrc.js to eslint.config.js
  .eslintignore
  eslint.config.js
Due: eslint --fix, prettier --write

infra init
  .tool-versions
  README.md
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/dns/main.tf
  terraform/modules/ecr/main.tf
  terraform/modules/ecr/variables.tf
  terraform/modules/ecs/main.tf
  terraform/modules/ecs/variables.tf
  terraform/modules/rds/main.tf
  terraform/modules/rds/variables.tf
  terraform/modules/security_groups/main.tf
  terraform/modules/security_groups/variables.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/outputs.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: prettier --write

fix: run in production mode/docker build
  Brewfile
  Dockerfile
  build.js
  index.js
  package.json
  public/dist/index.html
  public/dist/main.js
  public/dist/style.css
  public/index.html
  src/backend/server.js
  terraform/main.tf
  vite.config.js
Due: eslint --fix, prettier --write

Create a codecommit repo in AWS using terraform.
  terraform/deploy.sh
  terraform/main.tf
  terraform/modules/pipeline/main.tf
  terraform/modules/pipeline/outputs.tf
  terraform/modules/pipeline/variables.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

fix: some code commit fixes
  package-lock.json
  terraform/.gitignore
  terraform/common.auto.tfvars
  terraform/main.tf
  terraform/modules/pipeline/main.tf
  terraform/modules/pipeline/variables.tf
Due: prettier --write

feature: code pipeline
  buildspec.yml
  terraform/common.auto.tfvars
  terraform/main.tf
  terraform/modules/pipeline/main.tf
  terraform/modules/pipeline/outputs.tf
  terraform/modules/pipeline/variables.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: none

Update buildspec.yml
  buildspec.yml
Due: none

fix: codepipeline changes
  buildspec.yml
  imagedefinitions.json
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/modules/ecr/main.tf
  terraform/modules/ecr/outputs.tf
  terraform/modules/pipeline/codedeploy.tf
  terraform/modules/pipeline/main.tf
  terraform/modules/pipeline/variables.tf
Due: prettier --write

fix: remove github actions
  .github/workflows/aws-deploy.yml
  .github/workflows/ci.yml
  terraform/modules/pipeline/main.tf
Due: none

fix: ca for rds
  server/db.ts
  terraform/global-bundle.pem
  terraform/main.tf
  terraform/modules/ecs/main.tf
  terraform/modules/ecs/variables.tf
  terraform/modules/rds/main.tf
  terraform/variables.tf
Due: none

fix: rda ca
  global-bundle.pem
  server/db.ts
  terraform/main.tf
  terraform/modules/ecs/main.tf
  terraform/modules/ecs/variables.tf
  terraform/modules/pipeline/variables.tf
  terraform/variables.tf
Due: none

feature: request logging
  package-lock.json
  package.json
  src/backend/server.js
  terraform/terraform.tfvars.example
Due: eslint --fix, prettier --write

fix: logs for ecs
  src/backend/server.js
  terraform/modules/ecs/main.tf
Due: eslint --fix, prettier --write

feature: health check endpoint
  src/backend/server.js
Due: eslint --fix, prettier --write

fix: health check logging
  src/backend/server.js
  terraform/common.auto.tfvars
  terraform/modules/ecs/main.tf
  terraform/variables.tf
Due: eslint --fix, prettier --write

fix: title
  src/frontend/App.vue
Due: eslint --fix, prettier --write

fix: remove license from readme
  README.md
Due: prettier --write

feature: cwg deploy
  imagedefinitions.json
  terraform/main.tf
  terraform/modules/ecr/main.tf
  terraform/modules/ecs/main.tf
  terraform/variables.tf
Due: prettier --write

feature: scenario2
  src/backend/server.js
Due: eslint --fix, prettier --write

Revert "feature: scenario2"
  src/backend/server.js
Due: eslint --fix, prettier --write
